<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}
    <div class="page-content" id="top">
      {% if page.show_tag %}
        <div class="wrapper">
          <div class="column w2">
            <div class="date-highlight">❖</div>
            <ul class="entry-meta">
              {% assign tobi = "" %}
              {% for post in site.posts %}
              {% for tag in post.tags %}
                {% assign tobi=tobi | append: tag %}
                {% assign tobi=tobi | append: "," %}
              {% endfor %}
              {% endfor %}

              {{ tobi | tag_times }}

            </ul>
        </div>
        <div class="column w8">
          {{ content }}
        </div>
      </div>
      {% else %}
        {% if page.navs %}
          {{ page.content | build_navs }}
          {% include nav-script.html %}
        {% endif %}
        <div class="wrapper max8">
          <div>
            {{ content }}
          </div>
        </div>
      {% endif %}
    </div>

    {% include footer.html %}

  </body>

</html>
