<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}
    <div class="page-content" id="top">
      {% if page.show_tag %}
        <div class="wrapper">
          <div class="column w2">
            <div class="date-highlight">❖</div>
            <ul class="entry-meta">
              {% assign tobi = "" %}
              {% for post in site.posts %}
              {% for tag in post.tags %}
                {% assign tobi=tobi | append: tag %}
                {% assign tobi=tobi | append: "," %}
              {% endfor %}
              {% endfor %}

              {{ tobi | tag_times }}

            </ul>
        </div>
        <div class="column w8">
          {{ content }}
        </div>
      </div>
      {% else %}
        {% if page.navs %}
          {{ page.content | build_navs }}
            <script>
              document.body.onscroll=fix_nav
              function css(el, styles) {
                  for (var property in styles)
                      el.style[property] = styles[property];
              }
              function fix_nav() {
                var top=document.body.scrollTop;
                var el=document.getElementById('nav');
                if(el){
                  if(top>64){
                    css(el, { position:'fixed',top:'40px',opacity:.4 });
                  } else {
                    css(el, { position:'absolute',top:'105px',opacity:1 });
                  }
                }
              }
          </script>
        {% endif %}
        <div class="wrapper max8">
          <div>
            {{ content }}
          </div>
        </div>
      {% endif %}
    </div>

    {% include footer.html %}

  </body>

</html>
